.App {
  display: flex;
  justify-content: center;
}

.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 2000px;
}

.inside-Div {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  font-size: 20px;
  font-weight: bolder;
}

.pokemons {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 0 5px 5px black;
  width: 500px;
  margin: 10px;
}

img {
  height: 140px;
  width: 140px;
}