ol {
    background-color: yellow;
    border-radius: 10px;
    max-width: 1100px;
}
ol li:nth-of-type(2n) {
    color: green;
}
ol li:nth-of-type(2n+1) {
    text-transform: uppercase;
    font-weight: bold;
}
li {
    font-size: 20px;
}
 h1, h3 {
    color: red;
}
h1.header {
    font-size: 40px;
    border: solid black 1px;
    max-width: 640px;
    border-radius: 10px;
}
ul.firstList li.pink {
    background-color: rgb(240, 145, 240);
    max-width: 110px;
    border-radius: 6px;
}
ul.firstList li:nth-of-type(-n+3) {
    color: blue
}
.orange:hover {
    font-weight: bold;
    color: orange;
}
.green:hover {
    font-weight: bold;
    color: rgb(54, 214, 14);
}
.black:hover {
    font-weight: bold;
    color: black;
}
.yellow:hover {
    font-weight:bold;
    color: yellow;
}
