div:hover:nth-of-type(1) {
   background-color: red;
   max-width: 115px;
   border-radius: 5px;
   text-decoration: underline;
}
div:hover:nth-of-type(2) {
    background-color: green;
    max-width: 180px;
    border-radius: 5px;
    text-transform: uppercase;
}
div:hover:nth-of-type(3) {
    font-size: 45px;
    background-color: blueviolet;
    max-width:450px;
    border-radius: 5px;
    color:rgb(245, 34, 245);
}
div:hover:nth-of-type(4) {
    background-color: black;
    color: white;
    max-width: 100px;
    border-radius: 5px;
    text-decoration:line-through;
}
div:hover:last-of-type {
   background-color: rgb(88, 228, 241);
   max-width: 90px;
   border-radius: 5px;
}
div:hover:nth-of-type(2n+1) {
    font-style: italic;
}
