div:hover  {
    font-style: italic;
    background-color: red;
    padding: 5px 10px;
    border-radius: 15px;
    max-width: 200px;
}
div:hover  {
    background-color: greenyellow;
    padding: 5px 10px;
    border-radius: 15px;
    max-width: 200px;
}
div:hover  {
    font-style: italic;
    font-size: 50px;
    background-color: purple;
    padding: 5px 15px;
    border-radius: 15px;
    max-width: 500px;
}
div:hover  {
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 15px;
    max-width: 200px;
}
div:hover  {
    font-style: italic;
    background-color: #B2E6FF;
    padding: 5px 10px;
    border-radius: 15px;
    max-width: 200px;
}
